
body{
text-align: center;
}
.box{
    height: 150px;
    width: 150px;
    margin: 20px 15px;
    padding: auto;
    border: 5px solid black;
    border-radius: 20px;
}
.box_container{

    display: flex;
    justify-content: center;
    margin: auto;
    /* flex-wrap: wrap; */
}
.yellow{
    background-color: rgb(245, 245, 40);
}
.purple{
    background-color: rgb(159, 81, 233);
}
.sky{
    background-color: rgb(68, 252, 191);
}
.green{
    background-color: rgb(33, 238, 33);
}
.flash{
    background-color: white;
}
.userflash{
    background-color: tomato;
}